<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tut</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
        
        <%for(let i=0;i<NewListItem.length;i++){ %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= NewListItem[i] %></p>
            </div>
        <% } %>
    
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button name="button" type="submit">+</button>
    </form>

    </div>
</body>
</html>